<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "Trial Test Suite for TestNg" parallel="methods" thread-count="2">
    <test name = "Test XML Test">
        <classes>
            <class name = "com.rookieintraining.test.BasicTest"/>
        </classes>
    </test>
</suite>